# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# シークレットファイル
secrets/*
!secrets/secret_dev_example.yaml
!secrets/secret_example.yaml


# SDK
google-cloud-sdk/*
!google-cloud-sdk/.gitkeep

# 本番用ファイル
staticfiles/*
!staticfiles/.gitkeep
