{% extends 'mysite/base.html' %}

{% block content %}

<div class="container">

    <div class="p-4 p-md-5 mb-4 rounded bg-warning">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Django講座</h1>
            <p class="lead my-3">文章をかこうツ</p>
        </div>
    </div>

    <div class="row mb-2">
        {% for rank in ranks %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row
            mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                        {% for tag in rank.tags.all %}
                            {{ tag.name }}
                        {% endfor %}
                    </strong>
                    <h3 class="mb-0">{{rank.title}}</h3>
                    <div class="mb-1 text-muted">
                        {{ rank.created_at }}
                        <div class="d-inline-block text-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="16" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                            </svg>
                            {{ rank.count }}
                        </div>
                    </div>
                    <p class="card-text mb-auto">{{ rank.text }}</p>
                    <!-- stretched-linkでカード自体押下で遷移できる -->
                    <a href="/blog/{{rank.id}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                Django Lesson
            </h3>
            <div>{{ articles.0.title }}</div>
            for始まり:
            {% for article in articles %}
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ article.title }}</h2>
                    <p class="blog-post-meta">
                        {{ article.created_at }} by {{ article.author }}
                    </p>
                    <!-- 組み込みテンプレートタグ -->
                    <p>{{ article.text|slice:":19" }}</p>
                    <a href="/blog/{{article.id}}">続きはこちら</a>
                </div>
                <hr>
            {% endfor %}

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="/blog/">ブログ一覧はこちら</a>
            </nav>
        </div>

        {% include 'mysite/snippets/sidebar.html' %}
    </div>
</main>
{% endblock %}