{% extends 'mysite/base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 font-italic border-bottom">
                Django Lesson
            </h3>
            {% for article in page_obj %}
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ article.title }}</h2>
                    <p class="blog-post-meta">
                        {{ article.created_at }} by {{ article.author }}
                    </p>
                    <p>{{ article.text }}</p>
                    <a href="/blog/{{article.id}}">続きはこちら</a>
                </div>
                <hr>
            {% endfor %}

            {% include 'mysite/snippets/pagination.html' %}

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">古い記事</a>
                <a class="btn btn-outline-primary disabled" href="#">新しい記事</a>
            </nav>
        </div>
        {% include 'mysite/snippets/sidebar.html' %}
    </div>
</main>

{% endblock %}