<!-- https://developers.google.com/recaptcha/docs/display?hl=ja -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{ grecaptcha_sitekey }}
<div
  class="g-recaptcha"
  data-sitekey="{{ grecaptcha_sitekey }}"
  data-callback="verifyCallback"
></div>


<script>
  // コールバック関数
  function verifyCallback(response) {
    console.log('VerifyCallback response>')
    console.log(response)
    // submitのdisable属性を解除
    document.getElementById('submit').disabled = false

  }
</script>